body {
    font-family: 'Verdana', Geneva, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #9fbce0;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="date"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #a2e4f1;
    border-radius: 5px;
    margin-bottom: 20px;
}

input[type="text"]:focus,
input[type="date"]:focus {
    outline: none;
    border-color: #007bff;
}

input[type="submit"] {
    background-color: #007bff;
    color: #8fd6e1;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
